@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font imports */
@font-face {
  font-family: 'Neue-Plak-Extended-Bold';
  src: url('/fonts/Neue-Plak-Extended-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Neue-Plak-Extended-Bold', Arial, Helvetica, sans-serif;
  background: #fff;
  color: #1F2937;
}
